.nav-menu{
    background-color: #ffd740; /* accent */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-nav-list .mat-list-item{
    color: rgba(255, 255, 255, .87);
}

.mat-raised-button {
    font-weight: bold;
    font-size: 1.15rem;
}
