<mat-sidenav-container class="nav-menu" color="primary" (backdropClick)="closeMenu(sidenav)">
    <mat-sidenav #sidenav 
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    (keydown.escape)="closeMenu(sidenav)"
    disableClose>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/']" (click)="closeMenu(sidenav)">Home</a>
            <a mat-list-item [routerLink]="['/gallery']" (click)="closeMenu(sidenav)">Gallery</a>
            <a mat-list-item [routerLink]="['/profile']" (click)="closeMenu(sidenav)">Profile</a>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button *ngIf="isHandset$ | async" style="margin-right: 1vw" (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>
            {{ appName }}   
            <button mat-icon-button style="margin-left: auto" [matMenuTriggerFor]="languagesMenu">
                <mat-icon>translate</mat-icon>
            </button>
            <mat-menu #languagesMenu="matMenu">
                <button mat-menu-item *ngFor="let languageCode of availableLanguagesCode" (click)="setLanguage(languageCode)">
                    <mat-icon [ngClass]="'flag-icon flag-icon-' + availableLanguagesInformations.get(languageCode).countryAlphaCode"></mat-icon>
                    <span>{{ availableLanguagesInformations.get(languageCode).languageName }}</span>
                </button>
            </mat-menu>
            <button *ngIf="oauthService.hasValidIdToken()" mat-icon-button (click)="logout()">
                <mat-icon style="color: yellowgreen">settings_power</mat-icon>
            </button>
            <button *ngIf="!oauthService.hasValidIdToken()" mat-icon-button (click)="login()">
                <mat-icon style="color: indianred">settings_power</mat-icon>
            </button>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
