<form [hidden]="sent" id="ForgotPassword" name="ForgotPassword" [formGroup]="forgotPassword" autocomplete="on" action="/api/user/ForgotPassword" method="POST" (submit)="doSomething(this)">
  <mat-form-field>
    <input matInput type="email" form="ForgotPassword" name="Email" placeholder="Email" [formControl]="emailFormControl" autocomplete="email" maxlength="255">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email address is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" form="ForgotPassword" [disabled]="!forgotPassword.valid">Reset</button>
</form>
<main *ngIf="sent">
  <div  class="bar">
    <div class="circle"></div>
    <p>Generating recovery token</p>
  </div>
</main>