main {
    width: 97.5%;
    margin: 20rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bar {
    position: relative;
    height: 2px;
    width: 500px;
    margin: 0 auto;
    background: #673ab7;
    margin-top: 150px;
}

.circle {
    position: absolute;
    top: -30px;
    margin-left: -30px;
    height: 60px;
    width: 60px;
    left: 0;
    background: #673ab7;
    border-radius: 30%;
    -webkit-animation: move 5s infinite;
}

p {
    position: absolute;
    top: -20px;
    right: -110px;
    text-transform: uppercase;
    color: #ffd740;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.5rem;
}

@-webkit-keyframes move {
    0% {left: 0;}
    50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
    75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
    100% {right: 100%;}
}

.login2faForm {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.login2faForm[hidden] {
    display: none;
}

.mat-form-field { 
    width: 50%;
}

.mat-checkbox {
    margin: 1rem;
}

.recoveryCode {
    margin-left: 40%;
}
