<form [hidden]="sent" id="ResetPasswordForm" name="ResetPasswordForm" [formGroup]="resetPasswordForm" autocomplete="on" (submit)="resetPassword()">
  <mat-form-field>
    <input matInput type="email" form="ResetPasswordForm" name="Email" placeholder="Email" [formControl]="emailFormControl" autocomplete="email" maxlength="255">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email address is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [type]="showPassword ? 'text' : 'password'" form="ResetPasswordForm" name="Password" placeholder="New password" [formControl]="passwordFormControl" autocomplete="new-password">
    <mat-icon matSuffix (click)="showPassword = !showPassword">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" form="ResetPasswordForm" [disabled]="!resetPasswordForm.valid">Login</button>
</form>
<main *ngIf="sent && success === undefined">
  <div class="bar">
    <div class="circle"></div>
    <p>Changing password</p>
  </div>
</main>
<main *ngIf="sent && success !== undefined">
  <p>
    We have successfully changed your account password.
    You will now be redirected.
  </p>
</main>