fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

main {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.bar {
  position: relative;
  height: 2px;
  width: 500px;
  margin: 0 auto;
  background: #673ab7;
  margin-top: 150px;
}

.circle {
  position: absolute;
  top: -30px;
  margin-left: -30px;
  height: 60px;
  width: 60px;
  left: 0;
  background: #673ab7;
  border-radius: 30%;
  -webkit-animation: move 5s infinite;
}

p {
  position: absolute;
  top: -20px;
  right: -110px;
  text-transform: uppercase;
  color: #ffd740;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.55rem;
}

@-webkit-keyframes move {
  0% {left: 0;}
  50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  100% {right: 100%;}
}

.dropzone {
  margin: 2rem auto;
  width: 1400px;
  height: 500px;
  border: 2px dashed;
  background-color: greenyellow;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.dropzone > label {
  cursor: pointer;
}

.mat-card {
  width: 400px;
  height: 400px;
  margin: 2rem auto;
  padding: 0;
}

.mat-card[hidden] {
  display: none;
}

.mat-card-image {
  object-fit: cover;
  width: 400px;
  height: 400px;
  margin: 0;
}

.mat-card-image:first-child {
  margin-top: -40px; /* Size of the icon */
}

.discard-picture {
  float: right;
  top: -5%;
  right: -5%;
}

.picture {
  width: 400px;
  height: 400px;
  overflow: hidden;
}
