fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

main {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.bar {
  position: relative;
  height: 2px;
  width: 500px;
  margin: 0 auto;
  background: #673ab7;
  margin-top: 150px;
}

.circle {
  position: absolute;
  top: -30px;
  margin-left: -30px;
  height: 60px;
  width: 60px;
  left: 0;
  background: #673ab7;
  border-radius: 30%;
  -webkit-animation: move 5s infinite;
}

p {
  position: absolute;
  top: -20px;
  right: -110px;
  text-transform: uppercase;
  color: #ffd740;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.55rem;
}

@-webkit-keyframes move {
  0% {left: 0;}
  50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  100% {right: 100%;}
}

.registrationForm {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 47.5%;
  margin: 1rem;
}

.mat-form-field, .mat-checkbox {
  width: 45%;
  padding: 1rem;
}

.identityGroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  padding: 1rem;
}

.identityError {
  border: 2px solid red;
}

.identityGroup .mat-form-field {
  padding: 0;
}

.dropzone {
  margin: 0;
  width: 100%;
  height: 75vh;
  border: 2px dashed;
  background-color: greenyellow;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  overflow-x: hidden;
  overflow-y: auto;
}

article .centerDropzone {
  justify-content: center;
}

.dropzone .mat-error {
  margin: 1rem;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90%;
  padding: 0;
}

li {
  width: 5vw;
  height: 5vw;
  margin: 1rem;
  padding: 0;
}

.mat-card {
  width: 100%;
  height: 100%;
  padding: 0;
}

.mat-card-image {
  object-fit: cover;
  width: 5vw;
  height: 5vw;
  margin: 0;
}

.mat-mini-fab {
  width: 1.25vw;
  height: 1.25vw;
  line-height: 1.2vw;
  font-size: 0.75rem;
}

.mat-mini-fab /deep/.mat-button-wrapper {
  padding: 0;
  line-height: 1.25vw;
}

.mat-card-image:first-child {
  margin-top: -1.25vw; /* Size of the icon */
}

.discard-picture {
  float: right;
  top: -0.5vw;
  right: -0.5vw;
}

.picture {
  width: 5vw;
  height: 5vw;
  overflow: hidden;
}

.mat-raised-button {
  margin: 1rem;
}

@media screen and (max-width: 960px) {
  .registrationForm {
    flex-flow: row wrap;
  }

  article {
    width: 95%;
  }

  li {
    width: 10vw;
    height: 10vw;
  }
  
  .mat-card-image {
    width: 10vw;
    height: 10vw;
  }
  
  .mat-mini-fab {
    width: 2.5vw;
    height: 2.5vw;
    line-height: 2.4vw;
  }
  
  .mat-mini-fab /deep/.mat-button-wrapper {
    line-height: 2.4vw;
  }
  
  .mat-card-image:first-child {
    margin-top: -2.5vw; /* Size of the icon */
  }
  
  .discard-picture {
    top: -1vw;
    right: -1vw;
  }
  
  .picture {
    width: 10vw;
    height: 10vw;
  }
}
